body{
  font-family: "Segoe UI", sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Main Heading */
h1{
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: #2c2c2c;

  margin: 40px auto 20px;
  width: fit-content;

  padding: 12px 30px;
  background: linear-gradient(90deg,#fff1d6,#ffffff);
  border-bottom: 5px solid #ff9800;
  border-radius: 6px;
}

/* Highlight text */
.highlight{
  text-align: center;
  max-width: 750px;
  margin: 0 auto 30px;

  font-size: 18px;
  font-weight: 500;
  color: #444;

  padding: 12px 20px;
  background: #fff;
  border-left: 5px solid #ff9800;
  border-radius: 6px;
}

/* Quote box */
.quote-box{
  max-width: 400px;
  margin: auto;
  background: #fff;

  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* h3 */
.quote-box h3{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ff9800;
  margin-bottom: 20px;
}

/* Inputs */
.quote-box input,
.quote-box select,
.quote-box textarea{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

/* Button */
.quote-box button{
  width: 100%;
  padding: 12px;

  font-size: 16px;
  font-weight: 700;

  background: #ff9800;
  color: #fff;

  border: none;
  border-radius: 25px;
  cursor: pointer;

  transition: 0.3s ease;
}

.quote-box button:hover{
  background: #e68900;
  box-shadow: 0 8px 18px rgba(255,152,0,0.4);
}
/* * back to home */

.back{
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #ff9800;
  font-weight: 600;
  border: 2px solid #ff9800;
  padding: 6px 14px;
  border-radius: 20px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.back:hover{
  background: #ff9800;
  color: #fff;
}



