body{
  font-family: "Segoe UI", sans-serif;
  background: #f5f5f5;
}

/* main container */
.location-box{
  max-width: 900px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* heading */
.main-heading{
  text-align: center;
  font-size: 32px;
  color: #ff9800;
  margin-bottom: 10px;
}

/* address card */
.address-card{
  text-align: center;

  background: linear-gradient(135deg,#fff1dc,#ffffff);
  padding: 22px 26px;

  border-left: 5px solid #ff9800;
  border-radius: 12px;

  max-width: 420px;
  margin: 35px auto;

  box-shadow: 0 10px 22px rgba(0,0,0,0.12);

  font-family: "Poppins","Segoe UI",sans-serif;
}

/* heading inside card */
.address-card h3{
  font-size: 20px;
  font-weight: 700;      /* bold */
  color: #ff9800;
  margin-bottom: 10px;
}

/* address text */
.address-card p{
  font-size: 15px;
  font-weight: 600;      /* bold text */
  color: #333;
  line-height: 1.7;
  letter-spacing: 0.4px;
}


/* map */
.map-box{
  margin-top: 30px;
}

.map-box iframe{
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 10px;
}

/* back to home */
.back{
  display: inline-block;
  margin: 30px auto 0;
  padding: 8px 18px;

  text-decoration: none;
  font-weight: 600;
  color: #ff9800;

  border: 2px solid #ff9800;
  border-radius: 20px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.back:hover{
  background: #ff9800;
  color: #fff;
}
/* text */
.highlight{
  text-align: center;

  font-size: 17px;
  font-weight: 700;              
  letter-spacing: 0.5px;         

  color: #2c2c2c;

  max-width: 720px;
  margin: 25px auto 35px;
  padding: 16px 24px;
  line-height: 1.8;
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);

  font-family: "Poppins", "Segoe UI", sans-serif;
}