.team-box{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:30px;
}

.team-card{
  width:240px;
  background:#fff;
  padding:15px;
  text-align:center;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.team-card:hover{
  transform: translateY(-6px);
}

.team-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:8px;
}

.team-card h3{
  margin:10px 0 5px;
  color:#f57c00;
}

.team-card p{
  background:#fff3cd;
  padding:8px;
}
/* p text heighlight style */
p.highlight{
  text-align: center;              /* middle */
  font-size: 18px;
  font-weight: 500;
  color: #333;

  max-width: 800px;
  margin: 20px auto;

  padding: 12px 18px;
  position: relative;
  cursor: pointer;

  transition: 0.4s ease;
}

/* underline highlight */
p.highlight::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;

  width: 0;
  height: 3px;
  background: linear-gradient(90deg,#ff9800,#ff5722);

  transform: translateX(-50%);
  transition: 0.4s ease;
}

/* hover effect */
p.highlight:hover{
  color: #ff5722;
  letter-spacing: 1px;
}

p.highlight:hover::after{
  width: 100%;
}

 

/* heading our team */
.heading-wrapper{
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
}

.main-heading{
  font-size: 48px;
  font-weight: 700;
  color: #222;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease;
}

/* highlight line */
.main-heading::after{
  content: "";
  width: 70px;
  height: 4px;
  background: #ff9800;
  display: block;
  margin: 12px auto 0;
  border-radius: 5px;
  transition: 0.4s ease;
}

/* hover */
.main-heading:hover{
  color: #ff9800;
  letter-spacing: 2px;
}

.main-heading:hover::after{
  width: 120px;
}
/* back to home */
.back{
  display: inline-block;      
  margin: 30px auto;          
  padding: 6px 14px;          

  font-size: 14px;
  font-weight: 600;

  text-decoration: none;
  color: #ff9800;

  border: 2px solid #ff9800;
  border-radius: 20px;

  transition: 0.3s ease;
}


.back{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* hover */
.back:hover{
  background: #ff9800;
  color: #fff;
  box-shadow: 0 6px 15px rgba(255,152,0,0.4);
}

/* h3 style */

h3{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 12px 0 14px;

  position: relative;
}

/* static highlight line */
h3::after{
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ff9800;
  margin: 8px auto 0;
  border-radius: 4px;
}

